#!/bin/sh
interactive=""
while getopts :hi OPT
do
    case $OPT in
        h)      echo "Usage: $0 [-i] [-h]"
                echo ""
                echo "Parameters:"
                echo "    -i          Interacitve remove build direcotry."
                echo "    -h          Show this help and quit."
                exit 0
            ;;
        i)  interactive=1
            ;;
    esac
done

if [[ "${interactive}" -ne "" ]] ; then
    read -p "Are you sure you want to delete the directory 'build'? [Y/n]: " rmdirbuild

    case "${rmdirbuild}" in [Y]*)
        echo "The directory 'build' will now be deleted."
        rm -rf build
    esac
fi

CMAKE_BUILD_TYPE=Debug
# CMAKE_BUILD_TYPE=Release
# CMAKE_BUILD_TYPE=RelWithDebInfo
# CMAKE_BUILD_TYPE=MinSizeRel
cmake -S . -B build -DCMAKE_VERBOSE_MAKEFILE=1 -DCMAKE_BUILD_TYPE="${CMAKE_BUILD_TYPE}"
cmake --build build
if [[ "${CMAKE_BUILD_TYPE}" -eq "Debug" ]] ; then
    bin/gallop0_test
fi